html {
    background-color: #222222;
    color: #b00b69;
}
body {
    max-width: 960px;
    width: auto;
    margin: auto;
}

ul {
  padding: 0;
  margin-left: 5px;
}

li {
  display: inline-block;
  padding: .2em;
}

.menu-item {
  background-color: #b00b1e;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: red;
}

#top-bar {
    position: fixed;
    top: 0;
    width: inherit;
    max-width: inherit;
    padding: 10px;
    margin: 15px;
    border: 2px solid #b00b69;
    background-color: #222222;
    float: left;
}

#content {
    height: 3000px;
    padding: 30px;
}

@media only screen and (max-width: 768px) {
    /* for mobile */
    body {
        width: 100%;
    }
    #top-bar {
        padding: 5px;
        padding-top: 0;
    }
}
