html {
    background-color: #222222;
    color: #b00b69;
}
body {
    max-width: 960px;
    width: auto;
    margin: auto;
}

ul {
  padding: 0;
  margin-left: 5px;
}

li {
  display: inline-block;
  padding: .2em;
}

/* class="cols-n" means an element is n columns wide (12 cols = viewport width) */
.cols-1  { width:   8.33%; }
.cols-2  { width:  16.67%; }
.cols-3  { width:  25.00%; }
.cols-4  { width:  33.33%; }
.cols-5  { width:  41.67%; }
.cols-6  { width:  50.00%; }
.cols-7  { width:  58.33%; }
.cols-8  { width:  66.67%; }
.cols-9  { width:  75.00%; }
.cols-10 { width:  83.33%; }
.cols-11 { width:  91.67%; }
.cols-12 { width: 100.00%; }

.menu-item {
  background-color: #b00b1e;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: red;
}

#top-bar {
    position: fixed;
    top: 0;
    width: inherit;
    max-width: inherit;
    padding: 10px;
    margin: 15px;
    border: 2px solid #b00b69;
    background-color: #222222;
    float: left;
}

#content {
    height: 3000px;
    padding: 30px;
}

@media only screen and (max-width: 768px) {
    /* for mobile */
    body {
        width: 100%;
    }
    #top-bar {
        padding: 5px;
        padding-top: 0;
    }
}
